.pokemon-card {
  @apply py-1 px-2;
  @apply bg-white;
  @apply rounded-lg;
  @apply flex;
  @apply flex-col;
  @apply justify-center;
  @apply items-center;
  width: 6.5rem;
  height: 6.5rem;
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.20);

  & > .card-id {
    @apply self-end;
    font-size: 0.5rem;
    line-height: 0.75rem;
  }

  & > .card-image {
    width: 4.5rem;
    height: 4.5rem;
  }

  & > .card-name {
    @apply text-center;
    @apply capitalize;
    font-size: 0.625rem;
    line-height: 1rem;
  }

  &:hover {
    @apply cursor-pointer;
    @apply bg-gray-light;
  }
}
